{% extends 'base.html' %}

{% block script %}
    <script>
        window.digiTrust.recentFiles = {% autoescape off %}{{ recent_files }}{% endautoescape %};
    </script>
{% endblock script %}

{% block main-content %}
    {% verbatim %}
    <section class="container" ng-controller="FileExplorerCtrl as ctrl" ng-cloak>
        <div class="modal fade" id="file-explorer-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title">Lnk File</h5>
                    </div>
                    <div class="modal-body">
                        <div ng-if="ctrl.fileLoading">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">Loading</span>
                              </div>
                            </div>
                        </div>
                        <div ng-if="ctrl.errorMsg">
                            <dl>
                                <dt>Error Message</dt>
                                <dd  class="text-danger"><strong>{{ ctrl.errorMsg }}</strong></dd>
                            </dl>
                        </div>
                        <div ng-if="ctrl.currentFile && !ctrl.fileLoading && ctrl.currentFile.type==1">
                            <dl>
                                <dt>File Name</dt>
                                <dd>{{ ctrl.currentFile.file_name }}</dd>
                                <dt>File Size</dt>
                                <dd ng-bind="ctrl.currentFile.analysis.file_size"></dd>
                                <dt>Date Created</dt>
                                <dd>{{ ctrl.currentFile.analysis.date_created | date:'yyyy-MM-dd HH:mm:ss' }}</dd>
                                <dt>Date Modified</dt>
                                <dd>{{ ctrl.currentFile.analysis.date_modified | date:'yyyy-MM-dd HH:mm:ss' }}</dd>
                                <dt>Last Accessed</dt>
                                <dd>{{ ctrl.currentFile.analysis.last_accessed | date:'yyyy-MM-dd HH:mm:ss' }}</dd>
                                <dt>Link Flags</dt>
                                <dd><span class="text-uppercase" ng-repeat-start="flag in ctrl.currentFile.analysis.link_flags">{{ flag }}</span><span ng-if="!$last"> | </span><span ng-repeat-end></span></dd>
                                <dt>Show Window</dt>
                                <dd class="text-uppercase">{{ ctrl.currentFile.analysis.show_window }}</dd>
                                <dt>Icon Index</dt>
                                <dd>{{ ctrl.currentFile.analysis.icon_index }}</dd>
                            </dl>
                            <div ng-if="ctrl.currentFile.analysis.has_location_info">
                                <h5>Location Information</h5>
                                <div class="well">
                                    <dl>
                                        <dt ng-if="ctrl.currentFile.analysis.local_path">Local Path</dt>
                                        <dd ng-if="ctrl.currentFile.analysis.local_path">{{ ctrl.currentFile.analysis.local_path }}</dd>
                                        <dt ng-if="ctrl.currentFile.analysis.common_path">Common Path</dt>
                                        <dd ng-if="ctrl.currentFile.analysis.common_path">{{ ctrl.currentFile.analysis.common_path }}</dd>
                                        <div ng-if="ctrl.currentFile.analysis.local_volume" >
                                            <dt >Storage Type</dt>
                                            <dd > Local Volume</dd>
                                            <dt>Drive Type</dt>
                                            <dd>{{ ctrl.currentFile.analysis.local_volume.drive_type }}</dd>
                                            <dt>Drive Serial Number</dt>
                                            <dd>{{ ctrl.currentFile.analysis.local_volume.serial_number }}</dd>
                                            <dt>Volume Label</dt>
                                            <dd>{{ ctrl.currentFile.analysis.local_volume.volume_label }}</dd>
                                        </div>
                                        <div ng-if="ctrl.currentFile.analysis.network_share">
                                            <dt>Storage Type</dt>
                                            <dd>Network Share</dd>
                                            <dt>Network Share Provider</dt>
                                            <dd>{{ ctrl.currentFile.analysis.network_share.network_provider }}</dd>
                                            <dt>Network Share Name</dt>
                                            <dd>{{ ctrl.currentFile.analysis.network_share.network_share_name}}</dd>
                                            <dt>Network Device Name</dt>
                                            <dd>{{ ctrl.currentFile.analysis.network_share.device_name }}</dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                            <div ng-if="ctrl.currentFile.analysis.data_strings">
                                <h5>Data Strings</h5>
                                <div class="well">
                                   <dl>
                                    <div ng-if="ctrl.currentFile.analysis.data_strings.description">
                                        <dt>Description</dt>
                                        <dd>{{ ctrl.currentFile.analysis.data_strings.description }}</dd>
                                    </div>
                                    <div ng-if="ctrl.currentFile.analysis.data_strings.relative_path">
                                        <dt>Relative Path</dt>
                                        <dd>{{ ctrl.currentFile.analysis.data_strings.relative_path }}</dd>
                                    </div>
                                    <div ng-if="ctrl.currentFile.analysis.data_strings.working_directory">
                                        <dt>Working Directory</dt>
                                        <dd>{{ ctrl.currentFile.analysis.data_strings.working_directory }}</dd>
                                    </div>
                                    <div ng-if="ctrl.currentFile.analysis.data_strings.command_line_arguments">
                                        <dt>Command Line Argument</dt>
                                        <dd>{{ ctrl.currentFile.analysis.data_strings.command_line_arguments }}</dd>
                                    </div>
                                    <div ng-if="ctrl.currentFile.analysis.data_strings.icon_location">
                                        <dt>Icon Location</dt>
                                        <dd>{{ ctrl.currentFile.analysis.data_strings.icon_location }}</dd>
                                    </div>

                                </dl>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ctrl.currentFile && !ctrl.fileLoading && ctrl.currentFile.type==-1">
                                <dl>
                                    <dt>File Name</dt>
                                    <dd ng-bind="ctrl.currentFile.file_name"></dd>
                                    <dt>Error Message</dt>
                                    <dd  class="text-danger"><strong ng-bind="ctrl.currentFile.analysis.errorMessage"></strong></dd>
                                </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <h3>Forensics Windows Shortcut (.lnk) Explorer</h3>
        <form>
            <div class="form-group">
                <label for="newLnkFile">Upload New Lnk File</label>
                <input type="file" id="newLnkFile" ngf-select ng-model="ctrl.file" name="file"
                     ngf-max-size="2MB" required>

            </div>
            <button ng-click="ctrl.uploadFile()" type="submit" ng-show="ctrl.file" class="btn btn-sm btn-primary">Submit</button>
        </form>

        <hr>
        <h5>Recent Files</h5>
        <table class="table table-hover">
            <thead>
                <td>File Name</td>
                <td>Date Uploaded</td>
                <td></td>
            </thead>
            <tr role="button" ng-repeat="fileInfo in ctrl.recentFiles" ng-click="ctrl.openFile(fileInfo)" ng-class="{'danger': fileInfo.type<0}">
                <td ng-class="{'text-danger': fileInfo.type<0}">{{ fileInfo.file_name }}</td>
                <td ng-bind="fileInfo.uploaded_at|date"></td>
                <td><button type="button" class="btn" ng-class="{'btn-danger': fileInfo.type<0}"><i class="glyphicon" ng-class="{'glyphicon-eye-open':fileInfo.type>=0, 'glyphicon-exclamation-sign':fileInfo.type<0}"></i></button></td>
            </tr>
        </table>



    </section>
    {% endverbatim %}
{% endblock main-content%}